<%- include('partials/header.ejs') %>
<h1 style="margin: 20rem;"> Thank You So Much <%= name %>! </h1>
<h1 style="margin-left: 30rem;">We will contact you soon</h1>
<%- include('partials/footer.ejs') %>